.animated-input-container {
  display: flex;
  background: linear-gradient(173deg, #23272f 0%, #14161a 100%);
  border-radius: 1rem;
  box-shadow:
    10px 10px 20px #0e1013,
    -10px -10px 40px #383e4b;
  padding: 0.3rem;
  gap: 0.3rem;
  width: 100%;
  position: relative;
}

.animated-input-textarea {
  border-radius: 0.8rem !important;
  background: #23272f !important;
  box-shadow:
    inset 5px 5px 10px #0e1013,
    inset -5px -5px 10px #383e4b,
    0px 0px 100px rgba(255, 212, 59, 0),
    0px 0px 100px rgba(255, 102, 0, 0) !important;
  width: 100%;
  flex-basis: 100%;
  padding: 1rem !important;
  border: 1px solid transparent !important;
  color: white !important;
  transition: all 0.2s ease-in-out !important;
  resize: none;
  font-size: 14px;
}

.animated-input-textarea:focus {
  border: 1px solid hsl(var(--sidebar-primary)) !important;
  outline: none !important;
  box-shadow:
    inset 0px 0px 10px rgba(56, 189, 248, 0.3),
    0px 0px 40px rgba(56, 189, 248, 0.2) !important;
}

@media (max-width: 500px) {
  .animated-input-container {
    flex-direction: column;
  }

  .animated-input-textarea {
    border-radius: 0.8rem;
  }
}

.animated-input-shortcut {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #c5c5c5;
  background-color: #383e4b;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-size: 10px;
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.animated-input-textarea:focus+.animated-input-shortcut,
.animated-input-textarea:not(:placeholder-shown)+.animated-input-shortcut {
  opacity: 0;
}